.header {
    align-items: center;
    background: transparent;
    display: flex;
    height: var(--header-height);
    padding: 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 90%; 
    font-family: 'Elza';
}

.header a {
    font-weight: normal;
    color: #282828;
}
  
.header-menu-mobile-toggle {
    max-width: 30px;
    height: 30px;
    margin-top: .1rem;
    @media (min-width: 48em) {
      display: none;
    }
}
  
.header-menu-mobile {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    padding-left: 2rem;
}

.header-ctas .search-toggle {
    max-width: 30px;
    height: 30px;
}

.header-ctas .search-toggle img {
    width: 100%;
    height: 100%;
}
  
.header-menu-desktop {
    display: none;
    grid-gap: 1rem;
    @media (min-width: 45em) {
      display: flex;
      grid-gap: 1rem;
      margin-left: 3rem;
    }
}
  
.header-menu-item {
    cursor: pointer;
}
  
.header-ctas {
    align-items: center;
    display: flex;
    grid-gap: 1rem;
    margin-left: auto;
}

header .header-logo {
    max-width: 600px;
}

.cart-icon-holster {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: .5rem;
}
  
.cart-icon-holster img {
    width: 20px;
}
  
.cart-count {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0%, -100%);
    font-size: x-small;
    font-weight: normal;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: .2rem .3rem;
    border-radius: 100%;
}
  

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .header {
        padding: 0 1rem;
        width: 85%;
    }

    header .header-logo {
        max-width: 150px;
    }

    header .header-menu-mobile-toggle img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header .header-logo {
        max-width: 200px;
    }
}