.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .home {
        height: 100vh;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .home {
        height: 100dvh;
    }

    .home .featured-collection-image .default-image {
        display: none;
    }

    .home .featured-collection-image .desktop-image {
        object-fit: cover;
    }

    .home .featured-collection-image img {
        object-fit: contain;
        width: fit-content;
    }
}