.dots {
    display: flex;
    gap: 2.5px;
}

.product h4, .product h3 {
    margin-top: .3rem !important;
    margin-bottom: .3rem !important;
}

.dots p {
    font-size: .8em;
}

.dots a {
    display: flex;
    align-items: center;
    transform: scale(1);
}

.dots div {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 1.5px solid var(--color-dark);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots div > span {
    display: block;
    height: 8px;
    width: 8px; 
    border-radius: 100%;
    background-color: #000;
    margin: 0 auto;
}

.dots div.Night span {
    background-color: #000;
}

.dots div.Cactus span {
    background-color: #75816B;
}

.dots div.Smoke span {
    background-color: #d3d3d3;
}

.dots div.BLUE-TINT span {
    background-color: #6699CC;
}

.dots div.Tinted-Grey span {
    background-color: #A9A9A9
}

.dots div.Fossil span {
    background-color: #3D3635;
}

.products {
    background-color: var(--color-light);
}

.products h1 {
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

.products .product .product-item h3,
.products .product .product-item h4  {
    margin-bottom: 1rem;
    font-weight: lighter;
}

.products .product .product-item h4 {
    font-size: small;
}

.products .products-grid {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

.products .products-grid .product {
    width: 125px;
    margin-bottom: 1rem;
}

.products .products-grid .product .product-item h3 {
    font-size: small;
}

.products-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
    margin-bottom: 2rem;
}
  
.product-item img {
    height: auto;
    width: 100%;
    max-width: 300px;
    transform: scale(1.5);
    margin-bottom: 1.5rem;
    object-fit: cover;
}

.recommended-products-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    @media (min-width: 45em) {
      grid-template-columns: repeat(4, 1fr);
    }
}

.recommended-product .dots {
    margin-top: .5rem;
}

.recommended-product .recommended-product-link h4 {
    font-weight: normal;
    margin: 0 !important;
}
  
.recommended-product img {
    height: auto;
}