.product {
    width: 90%;
    margin: 0 auto;
}

.product .product-main .product-collection-title {
    opacity: 0.5;
}

.product .product-form form button {
    background-color: var(--color-dark);
    color: var(--color-light);
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 1rem;
}

.product .product-form form button.sold-out {
    opacity: 0.5;
}

.product .product-form form button img {
    filter: invert(1);
    width: 100%;
    max-width: 15px;
}

.product .product-main .product-form .product-options .product-options-grid h1 {
    margin-bottom: 0;
}

.product .product-options .product-options-grid .dropdown {
    background-color: transparent;
    border: 2px solid #282828;
    padding: .5rem;
    cursor: pointer;
}

/*description dropdwon*/
.product-main .dropdown-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    align-items: center;
    border-bottom: 2px solid #282828;
}

.product-main .dropdown-label .expand {
    font-size: 2em;
    font-weight: lighter;
    font-family: initial;
}

.product-main .description {
    display: none;
}

.product-main .description.show {
    display: block !important;
}

/*sizing dropdwon*/
.product-main .dropdown-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    align-items: center;
}

.product-main .dropdown-label .expand {
    font-size: 2em;
    font-weight: lighter;
    font-family: initial;
}

.product-main .sizing {
    display: none;
}

.product-main .sizing.show {
    display: block !important;
}

@media only screen and (min-width: 968px) and (max-width: 1920px) {
    .product {
        height: 100%;
    }

    .product .product-form form {
        max-width: 100%;
    }
}